:root {
  /* color */
  --purple-color: #5B36AC;
  --charcoal-color: #464052;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --coolGrey-color: #A4A6B0;
  --paleGrey-color: #F9F9FB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--paleGrey-color);
  height: 100vh;
}

ul li {
  list-style: none;
}

button,
button:focus {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--purple-color);
  color: var(--white-color)
}

.right_icon button {
  margin: 0 5px;
}

.talk_list {
  display: flex;
  flex-direction: column;
}

.talk_list li {
  margin: 10px;
}

.talk_list .talk {
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 10px;
  font-size: 14px;
}

.talk_list .time {
  align-self: flex-end;
  font-size: 10px;
  color: var(--coolGrey-color);
  margin-left: 5px;
}

.date {
  color: var(--coolGrey-color);
  font-size: 10px;
  align-self: center;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.date .line {
  border: 1px solid var(--coolGrey-color);
}

.date .text {
  position: absolute;
  top: -4px;
  right: 45%;
  background-color: var(--paleGrey-color);
}


.you {
  display: flex;
  justify-content: flex-start;
}

.i {
  display: flex;
  justify-content: flex-end;
}

.message_form {
  position: fixed;
  bottom: 0;
  height: 10vh;
}

.message_form {
  display: flex;
  width: 100%;
}

.message_form .input {
  flex-basis: 80%;
  margin: 10px;
}

.message_form textarea {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 10px;
}

.message_form .send_btn {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_form button {
  background-color: var(--purple-color);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.message_form button i {
  font-size: 30px;
}